*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 228, 224);
}

.container{
    width: 200px;
    height: 200px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

}

.container > div{
    width: 90px;
    height: 90px;
    border: solid 1px rgb(238, 230, 219);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s linear;
    box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.75);

}

.instagram{
    border-top-left-radius: 100%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*#FF29DE*/
}

.twitter{
    border-top-left-radius: 5px;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*#2CB5FF*/
}

.github{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 5px;
    /*black*/
}

.discord{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 100%;
    /*#8C9EFF*/
}

.instagram > img{transform: translate(8px, 8px);}
.twitter > img{transform: translate(-8px, 8px);}
.github > img{transform: translate(8px, -8px);}
.discord > img{transform: translate(-8px, -8px);}

.container > div:hover{transform: scale(1.1);}

.container > div:hover > img{filter: brightness(0) invert(1);}

/*filter: brightness(0): convierte todos los píxeles de la imagen en tonos de grises.
brightness(): ajusta el brillo de un elemento en una escala de 0 a 1, 
donde 0 es completamente negro y 1 es el brillo general.

filter: invert(1): invierte los tonos de grises. Es decir que un tono claro, se vuelve oscuro y viceversa.
invert(): ajusta la cantidad de inversión de colores en una escala de 0 a 1, 
donde 0 es la imagen original y 1 es la imagen completamente invertida*/

.instagram:hover{background-color: #FF29DE; border: solid 1px #FF29DE;}
.twitter:hover{background-color: #2CB5FF; border: solid 1px #2CB5FF;}
.github:hover{background-color: black; border: solid 1px black;}
.discord:hover{background-color: #8C9EFF; border: solid 1px #8C9EFF;}